<hr />
<div class="case-page">
<h1>Stories of &lsquo;Festive Delight&rsquo; surprises</h1>
</div>
<div class="case-page">
<div class="cases">
<div class="case">
<h2>Yummylicious anniversary celebration</h2>
<h3>Situation</h3>
<p><u><strong>Occasion:</strong></u> First anniversary celebration<br /><u><strong>Relationship:</strong></u> From wife to husband<br /><u><strong>Personality:</strong></u> Foodie. Filmy. Fun loving<br /><u><strong>Other constraints:</strong></u> Delivery done under time constraint <br /><u><strong>Offer plan:</strong></u> Festive Delight (Rs 4999)</p>
<h3>Surprise sent</h3>
<p>Two sets each of Edible jewellery made from textured chocolates that look like stones - crown, neckpiece, bracelet, anklet. Edible garments made from Strawberry flavoured crispy wafer sticks.</p>
</div>
<div class="case">
<h2>To crush, With love</h2>
<p><img src="https://31.media.tumblr.com/9cedca68a304136a73245d66414f451d/tumblr_inline_nf6ykfYwkz1t3ky01.jpg" /></p>
<h3>Situation</h3>
<p><u><strong>Occasion:</strong></u> Birthday<br /><u><strong>Relationship:</strong></u> For a female friend<br /><u><strong>Personality:</strong></u> Independent, IT professional in a metro city, Tomboy but Stylish. Loves Red velvet cupcake, Wine glasses<br /><u><strong>Other constraints:</strong></u> Does not like chocolates! The surprise gift basket has to be shipped to her office only. Need to keep it adorable, yet save her any embarrassment at work place <br /><u><strong>Offer plan:</strong></u>&nbsp;Festive Delight (Rs 4999)</p>
<h3>Surprise sent</h3>
<p>Under the theme of Wine glasses, we sent her a beautiful woodwork to represent wine glass, complete with long earrings dangling on it. This was accompanied by Lindt White chocolate and a beautiful custom designed card and flower brooch. All this was wrapped inside a Black dupatta studded with mirror work.</p>
</div>
</div>
<div class="cases">
<div class="case">
<h2>Bon voyage! All the best!</h2>
<h3>Situation</h3>
<p><u><strong>Occasion:</strong></u> Good luck wishes<br /><u><strong>Relationship:</strong></u> For a female friend<br /><u><strong>Personality:</strong></u> Architecture student. Loves writing, travelling and interned in Ahmedabad<br /><u><strong>Other constraints:</strong></u> Recipient of the gift was heading back to Muscat. Gift had to be light weight yet compress all the memories of her stay in Ahmedabad <br /><u><strong>Offer plan:</strong></u>&nbsp;Festive Delight (Rs 4999)</p>
<h3>Surprise sent</h3>
<p>An assortment of four bags under the theme of &ldquo;Open When&rdquo;: <br /> 1.&nbsp; Writing: Handmade paper diaries and pen <br /> 2. Travelling: Gold painted Canvas shoes, Nokia earphones wearing a Golden crochet <br /> 3. Aspiring Rich: Chocolates packed as gold coins, custom apron, candles <br /> 4. Miss Ahmedabad: Methi Khakra, Pista Sticks and Gujarati Chavana</p>
<p></p>
</div>
<div class="case">
<h2>Happy Birthday, Bhabhi to be!</h2>
<p><img src="https://31.media.tumblr.com/6b10504f46446e89670663eb1bfc087b/tumblr_inline_nf6yzbincT1t3ky01.jpg" /></p>
<h3>Situation</h3>
<p><u style="line-height: 19.6000003814697px;"><strong>Occasion:</strong></u><span style="line-height: 19.6000003814697px;">&nbsp;Birthday wishes</span><br /><u style="line-height: 19.6000003814697px;"><strong>Relationship:</strong></u><span style="line-height: 19.6000003814697px;">&nbsp;For (to be) sister-in-law</span><br /><u style="line-height: 19.6000003814697px;"><strong>Personality:</strong></u><span style="line-height: 19.6000003814697px;">&nbsp;Caring and understanding. Likes cooking.&nbsp;</span><br /><u style="line-height: 19.6000003814697px;"><strong>Other constraints:</strong></u><span style="line-height: 19.6000003814697px;">&nbsp;Not much of an idea about her choices, need to emphasise on occasion and relationship equation to work this out.</span><br /><u style="line-height: 19.6000003814697px;"><strong>Offer plan:</strong></u><span style="line-height: 19.6000003814697px;">&nbsp;Festive Delight (Rs 4999)</span></p>
</div>
</div>
</div>