@CHARSET "UTF-8";
/*************chat room list section**************/
.chat-content{
	position:fixed;
	bottom:40px;
	width:100%;
	margin-left: 0px;
	z-index: 2;
}

.chat-panel{
	position:absolute;
	top:0px;
	left:0px;
	background-color: #f6f6f6;
	width:100%;
	border-color: #d0d0d0 !important;
}

.chat-header{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	z-index: 5;
	background-repeat: repeat-x !important;
	background-image: linear-gradient(to bottom, #f5f5f5 0px, #c8c8c8 100%) !important;
	border-color: #b0b0b0 !important;
}

.chat-header .chat-back{
	font-size: 1.5em;
	z-index: 5;
}

.chat-header .chat-back:hover{
	cursor: pointer;
}

.chat-body{
	overflow-y:auto;
	margin-top:40px;
	padding-left:0px;
	padding-right:0px;
}

.chat-text-box{
	height: 3em;
	
}

.chat-room-container{
	border-bottom: solid 1px gray;
}

.chat-room-container:hover{
	cursor: pointer;
}
.chat-room-body{
	overflow:hidden;
}

.chat-room-first-line{
	line-height: 1.5em;
	height: 3em;
	overflow: hidden;
}

/******************ChatRoom style********************/
.ind-chat-panel{
	background-color:#ffffff;
	position:relative;
	margin-left:10px;
	margin-right:10px;
	margin-top:5px;
	margin-bottom:5px;
	margin-right:10px;
	padding-right:15px;
	padding-left:15px;
	padding-top:10px;
	padding-bottom:1px;
	width:auto;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	display: inline-block;
	border: solid 1px #efefef;
	clear: both;
}
.ind-chat-panel .ind-chat-body{
	z-index:3;
}
.ind-chat-panel-right{
	margin-left:40px;
	float:right;
	background-color: #dbedfe;
/*	border: 1px solid rgba(0, 0, 0, .18);  */
	border-bottom-color: rgba(0, 0, 0, .29);
	-webkit-box-shadow: 0 1px 0 #dce0e6;
/*	 word-wrap: break-word;   */
}
.ind-chat-panel-left{
	margin-right:40px;
	float:left;
/*	border: 1px solid rgba(0, 0, 0, .18); */
	border-bottom-color: rgba(0, 0, 0, .29);
	-webkit-box-shadow:0 1px 0 #dce0e6;
/* 	 word-wrap: break-word;   */
}
.ind-chat-panel-right > .arrow {
	width: 0; 
	height: 0;
	position:absolute;
	right:-9px;
	top:8px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #dbedfe;
	z-index:4;
}
.ind-chat-panel-left > .arrow {
	width: 0; 
	height: 0;
	position:absolute;
	left:-9px;
	top:8px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right:10px solid #ffffff; 
	z-index:4;
}
.ind-chat-body > p{
	display: inline-block;
}
.ind-chat-body > p > span{
	display: block;
	max-width:500px;
	word-wrap: break-word;
}
.chat-input-area{
	position:absolute;
	left:1px;
	bottom:2px;
	display:block;
	background-color:#f0f0f0;
	width:99.5%;	
}
.chat-input-area .form-control{
	height: 50px;
	position: absolute;
	width: 100%;
	border-top-right-radius:0px;
	border-bottom-right-radius:0px;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	padding: 13px;
}
.chat-input-area .btn{
	height: 50px;
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;	
}
.item-chat{
	margin-left:1%;
	margin-right:1%;
	margin-top:5px;
	margin-bottom:5px;
	padding-bottom:5px;	
	border:solid 1px #e8e8e8;
	background-color: #fcfcfc;
	position:relative;
	display: inline-block;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	width:98%;
}
.item-chat:hover{
	cursor: pointer;
}
.item-chat > .ind-chat-panel{
	background-color: #f0f0f0;
	border: solid 1px #e8e8e8;
}
.item-chat > .ind-chat-panel-right > .arrow {
	width: 0; 
	height: 0;
	position:absolute;
	right:-9px;
	top:8px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #f0f0f0;
}
.item-chat > .ind-chat-panel-left > .arrow {
	width: 0; 
	height: 0;
	position:absolute;
	left:-9px;
	top:8px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right:10px solid #f0f0f0; 
}
.chat-item-image{
	width: 20%;
    border: 1px solid #CCC;
    float: left;
    margin: 5px;
    position: relative;
    left: 40%;
    margin-top: 5px;
    margin-bottom: 5px;
}

/**** media queries****/
@media(max-width:767px){
	.chat-content{
		width:100%;
	}
}
@media(min-width:768px){
	.chat-content{
		width:50%;
		right:0px;
	}
}
@media(min-width:992px){
	.chat-content{
		width:50%;
		right:0px;
	}
}
@media(min-width:1200px){
	.chat-content{
		width:50%;
		right:0px;
	}
}